/* Breakpoints */
$bp-largest: 120rem;
$bp-large: 110rem;
$bp-medium: 90rem;
$bp-small: 60rem;
$bp-smallest: 50rem;

/* Colors */
$color-primary: #555555;
$color-primary-light-1: #a8a8a8;
$color-primary-light-2: #bcbcbc;
$color-primary-light-3: #f2f2f2;
$color-primary-dark: #181818;

$color-secondary: #ffffff;

$color-accent-1: #232f3e;
$color-accent-2: #ff3c20;
$color-accent-3: #5d6ab9;
$color-accent-4: #ff0000;
$color-accent-5: #1da1f2;
$color-accent-6: #026ae3;
$color-accent-7: #4ba5b4;
$color-accent-8: #ade1b2;
$color-accent-9: #ecab5b;
$color-accent-10: #feecc5;

$color-bg-primary: #ffffff;
$color-bg-secondary: #efefef;
